<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>destination</key>
	<string>upload</string>
	<key>teamID</key>
	<string>V2RWATZXA2</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>test.Guitar-Man</key>
		<string>Guitar Man App Store</string>
		<key>test.Guitar-Man.DeviceActivityMonitor</key>
		<string>Guitar Man DeviceActivityMonitor App Store</string>
		<key>test.Guitar-Man.ShieldAction</key>
		<string>Guitar Man ShieldAction App Store</string>
		<key>test.Guitar-Man.ShieldConfiguration</key>
		<string>Guitar Man ShieldConfiguration App Store</string>
	</dict>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
</dict>
</plist>
